<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Android Apps</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <script src="https://www.jsdelivr.com/package/npm/chart.js?path=dist"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

  <div class="jumbotron">
      <h1 class="display-4" id = "title">Popular Android Apps</h1>
  </div>

    <div class = "container-fluid">
        <div class = "row">
          <div class = "col-md-6">
            <h1>Top 10 Apps in each category</h1>
            <div id="bubble"></div>
          </div>
    
          <div class = "col-md-6">
            <h1>Ratings and Reviews</h1>
            <div id="bar">
              <canvas id="bar-chart-horizontal" width="400" height="400"></canvas>
            </div>
          </div>
        </div>

      </div>

</body>

</html>