<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <script src="https://www.jsdelivr.com/package/npm/chart.js?path=dist"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/crossfilter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dc.js') }}"></script>

  <script src="{{ url_for('static', filename='js/logic1.js') }}"></script> -->
  
    <div class = "container">

        <div class = "row"> d3v5 variable version: 

          <div class = "col-md-6">
            <h>Bubble plot</h>
            <div id="bubble"></div>
          </div>
    
          <div class = "col-md-6">
            <h>Second bubble chart</h>
            <div id="bar">
              <canvas id="bar-chart-horizontal" width="400" height="400"></canvas>
            </div>
          </div>
          
          <span id="d3v5VarVer"></span>
        
        </div>


        <div class = "row"> d3v3 variable version: 

      </div>

</body>

</html>