<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <!-- <script src="https://www.jsdelivr.com/package/npm/chart.js?path=dist"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/logic.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/crossfilter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dc.js') }}"></script>

  <script src="{{ url_for('static', filename='js/logic1.js') }}"></script>

        <div class="container-fluid" id="All_Charts">
          <div class="row">
               <div class="col-sm-4">
                    <!-- Category chart -->
                    <h1><strong>Category</strong></h1>
                 <div id = "Category">
                           
                           <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                           <a class="reset" href="javascript:SizeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                           <div class="clearfix"></div>
     
               </div>
               </div>
               <div class="col-sm-4">
                    <!-- Android Version chart -->
                    <h1><strong>Android Ver</strong></h1>
               <div id = "Android_Ver">
                     
                         <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                         <a class="reset" href="javascript:SizeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                         <div class="clearfix"></div>
               </div>
               </div>
               <div class="col-sm-4">
                    <!-- Content chart -->
                    <h1><strong>Content Rating</strong></h1>
                    
               <div id="Content_Rating"></div>
                    <span class="reset" style="display: none;">Selected: <span class="filter"></span></span>
                    <a class="reset" href="javascript:SizeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                    <div class="clearfix"></div>
               </div>
          </div>
     </div>


      </div>

</body>

</html>